body{
    background: #FFFAD1;
    overflow-x: hidden;
}
div.container{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: #293264;

}
main.main-container{
    height: auto;
    width: 100vw;
    font-size: 1.2rem;
    color: #293264;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 25px;
}
.question{
    line-height: 40px;
}
hr{
    background-color: #DBDEF0;
    height: 2px;
}
div.options{
    display: inline-block;
    margin-right: 50px;
    padding: 0 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
div.correct-option{
    display: inline-block;
    margin-right: 50px;
    padding: 0 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #94D7A2;
}
div.wrong-option{
    display: inline-block;
    margin-right: 50px;
    padding: 0 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F8BCBC;
}
input{
    cursor: pointer;
}
.result-and-button{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    gap: 25px;
}
.result-and-button strong{
    margin-top: 10px;
}
button.check-answers, button.start-quiz{
    height: 40px;
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    cursor: pointer;
}
form{
    min-height: 80vh;
}